.loading{
    &-container{

    }
    &-icon{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        font-size:3rem;
        color:$color-primary;
        animation:spin .9s ease forwards infinite
    }
}

@keyframes spin{
    0%{
        transform:translate(-50%, -50%) rotate(0deg)
    }
    100%{
        transform:translate(-50%, -50%) rotate(360deg)
    }
}