.projects-table {
	position: absolute;
	top: 15rem;
	width: 40rem;
	padding-bottom: 5rem;

	th {
		min-width: 7rem;
		padding: .3rem 1rem;
	}

	th:not(:first-child) {
		text-align: center;
	}

	tr:not(:last-child) {
		border-bottom: .2px solid purple;
	}
	&__head {
		color: white;
		background-color: purple;

		th:not(:last-child) {
			border-right: 1px solid purple;
		}
	}

	&__body {
		background: purple;
		th {
			background-color: white;
			cursor: grab;
			&:active {
				cursor: grabbing;
			}
		}

		th:not(:last-child) {
			border-right: 1px solid purple;
		}
	}
}
