.about-me {
	&__wrapper {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		transition: all .5s;
		font-size: 1rem;

		@include respond (tab-port) {
			font-size: 1.2rem;
		}
		@include respond (tab-land) {
			font-size: 1.2rem;
		}
	}

	&__card {
		width: 60rem;
		flex-direction: row;
		@include respond (tab-port) {
			flex-direction: column;
			width: 40rem;
		}
	}

	&__img {
		width: 30rem;
		object-fit: cover;
		@include respond (tab-port) {
			flex-direction: column;
			width: 30rem;
			align-self: center;
		}
	}

	&__text {
		padding: 1.5rem;
	}
}
