.projects-container {
    //margin-top:-4rem;
    display: grid;
    height: 90%;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
        @include gridRows;
    grid-column-gap: 30px; //grid-row-gap: 30px;
    transition: all .5s;
    overflow: hidden;
    min-width: 50rem;
    max-width: 50rem;
    min-height: 28rem;
    max-height: 28rem;
    backface-visibility: hidden;
    -webkit-animation-fill-mode: forwards;
    /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;
    /* FF 5+ */
    -o-animation-fill-mode: forwards;
    /* Not implemented yet */
    -ms-animation-fill-mode: forwards;
    /* IE 10+ */
    animation-fill-mode: forwards;

    &__a {
        -webkit-animation-fill-mode: forwards;
        /* Chrome 16+, Safari 4+ */
        -moz-animation-fill-mode: forwards;
        /* FF 5+ */
        -o-animation-fill-mode: forwards;
        /* Not implemented yet */
        -ms-animation-fill-mode: forwards;
        /* IE 10+ */
        animation-fill-mode: forwards;
    }
    @include respond(tab-land) {
        min-width: 70rem;
        max-width: 70rem;
        min-height: 39rem;
        max-height: 39rem;
    }
    @include respond(tab-port) {
        grid-template-columns: 1fr 1fr 1fr;
        @include gridRows;
        min-width: 55rem;
        max-width: 55rem;
        min-height: 37rem;
        max-height: 37rem;
    }
    @include respond(phone) {
        grid-template-columns: 1fr 1fr;
        @include gridRows;
        min-width: 40rem;
        max-width: 40rem;
        min-height: 47rem;
        max-height: 47rem;
    }
    @include respond(small-phone) {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50% 50% 50% 50% 50% 50% 50% 50% 50% 50% 50% 50%; //grid-row-gap: 5%;
        min-width: 30rem;
        max-width: 30rem;
        min-height: 43rem;
        max-height: 43rem;
    }
    @include respond(big-desktop) {
        @include gridRows;
        min-width: 70rem;
        max-width: 70rem;
        min-height: 40rem;
        max-height: 40rem;
    }
    &__label {
        cursor: pointer;
    }
    &__project {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        overflow: hidden;
        background-color: black;
        color: rgba(255, 255, 255, 0.829);
        animation-fill-mode: forwards;
        text-align: center;
        margin-bottom: 1rem;
        transition:all .2s
    }
    &__heading-tertiary {
        background-color: rgb(40, 40, 40);
        padding-top: 4px;
        font-size: .8rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 20%;
        width: 100%;
        transition: opacity .2s;
    }
    &__img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 20%;
        left: 0;
        transition: opacity .2s;
        backface-visibility: hidden;
        object-fit: cover;
        transform: scale(1.17);
    }
    &__checkbox {
        display: none;
        &:checked~.description-box {
            transform: translateX(0);
            box-shadow: 0 2rem 4rem rgba(black, .2);
            opacity: 1;
            border-radius: 5px;
        }
    }
}

.shift{
    color:purple;
    font-size:2rem;
}
.star{
    color:yellow !important;
}

.iframe__container{
    width:100vw;
    height:100%;
    background:rgba(0,0,0, .8);
    position:absolute;
    top:0;
    left:0;
    z-index:40000000000;
    display:none;
    &__exit{
        position:absolute;
        top:1rem;
        right:2rem;
        font-size:3rem;
        color:white;
    }
    iframe{
        transition:all .6s ease;
        position:absolute;
        z-index:300000000000;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%) scale(0);
        width:80%;
        height:83%;

        @include respond(tab-port){
            width:95%;
            height:75%
        }

        @include respond(phone){
            width:95%;
            height:47%
        }

    }
}